{% extends 'main/base.html' %}
{% load active_tags %}
{% block content %}
<h1>{{ title }}</h1>
<div class="active_form">
    <div class="sidebar">
        <ul>
            {% if cat_selected == 0 %}
            <li class="selected">Все категории</li>
            {% else %}
            <li><a href="{% url 'race' %}">Все категории</a></li>
            {% endif %}
            {% for c in cats %}
            {% if c.active__count > 0 %}
                {% if c.pk == cat_selected %}
                <li class="selected" >{{ c.name }}</li>
                {% else %}
                    <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>


    <form  class="form" action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_error }}</div>
        {{ form.as_p }}
        <button>Добавить</button>
    </form>
</div>
{% endblock %}