{% extends 'main/base.html' %}
{% load active_tags %}

{% block content %}
{% load static %}
<h1>{{ title }}</h1>
<div class="active">
    <div class="sidebar">
        <ul>
            {% if cat_selected == 0 %}
            <li class="selected">Все категории</li>
            {% else %}
            <li><a href="{% url 'race' %}">Все категории</a></li>
            {% endif %}

            {% for c in cats %}
                {% if c.active__count > 0 %}
                    {% if c.pk == cat_selected %}
                    <li class="selected" >{{ c.name }}</li>
                    {% else %}
                        <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="main">

        <ul>
            {% for n in news %}


            <li>
                <p class="first"> {{ n.title }}</p>
                <div class="active_text">
                    {% if n.photo %}
                        <img class="image" src="{{ n.photo.url }}">
                    {% else %}
                        <img class="image" src="{% static 'main/news.jpg'%}">
                    {% endif %}
                    <h2><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h2>
                    <p>{{ n.content|linebreaks|truncatewords:50 }}</p>
                </div>
                <p class="date">Дата: {{ n.time_created|date:"d-m-Y H:i:s" }}</p>
            </li>

            {% endfor %}
        </ul>
        {% if page_obj.has_other_pages %}
        <div>
            <ul class="list-pages">

                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}

                {% for n in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ n }}</li>
                    {% elif n >= page_obj.number|add:-2 and n <= page_obj.number|add:2 %}
                        <li class="page-num">
                            <a href="?page={{ n }}">{{ n }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}