{% extends 'main/base.html' %}
{% load active_tags %}
{% block content %}
<div class="active">
<div class="sidebar">
    <ul>
            {% if cat_selected == 0 %}
            <li class="selected">Все категории</li>
            {% else %}
            <li><a href="{% url 'race' %}">Все категории</a></li>
            {% endif %}

            {% for c in cats %}
                {% if c.active__count > 0 %}
                    {% if c.pk == cat_selected %}
                    <li class="selected" >{{ c.name }}</li>
                    {% else %}
                        <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
</div>
<div class="part">
    <h2>{{ part.title}}</h2>
        {% if part.photo %}
                <img class="image" src="{{ part.photo.url }}">
            {% endif %}
    <p>{{ part.content|linebreaks}}</p>
     <p>Расстояние: {{ part.km }} км</p>
    <p>Время: {{ part.time }} часа</p>
    <p>Минимальный пульс: {{ part.min_pulse }}</p>
    <p>Средний пульс: {{ part.av_pulse }}</p>
    <p>Максимальный пульс: {{ part.max_pulse }}</p>
</div>
</div>

{% endblock %}